<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.mapper.MemberMapper">

    <insert id="addMember" parameterType="Member">
      insert into t_member(username,password,phoneNumber)
      values(#{username},#{password},#{phone_number})
    </insert>

    <select id="queryAreaByPid" parameterType="int" resultType="Area">
      select * from t_area where pid = #{pid}
    </select>

    <update id="updateMember" parameterType="Member">
        update t_member set
        username=#{username},phone_number=#{phoneNumber},email=#{email},sex=#{sex},
        nickname=#{nickname},real_name=#{realName},area_id=#{areaId},birthday=#{birthday}
        where id = #{id}
    </update>

    <select id="getMemberByLoginname" parameterType="String" resultType="Member">
        select tm.*,city.id cityId,province.id provinceId from t_member tm
        left join t_area county on tm.area_id = county.id
        left join t_area city on county.pid = city.id
        left join t_area province on city.pid = province.id
        where username = #{abc} or email = #{abc} or phone_number = #{abc}
    </select>


    <select id="getMemberById" parameterType="int" resultType="Member">
        select tm.*,city.id cityId,province.id provinceId from t_member tm
        left join t_area county on tm.area_id = county.id
        left join t_area city on county.pid = city.id
        left join t_area province on city.pid = province.id
        where tm.id = #{id}
    </select>




</mapper>